## Imported All Library

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

## Import Dataset

In [7]:
dataset = pd.read_excel(r"C:\Users\Admin\Downloads\DataAnalyst_Assesment_Dataset.xlsx")

In [13]:
dataset

,Booking ID,Customer ID,Customer Name,Booking Type,Booking Date,Status,Class Type,Instructor,Time Slot,Duration (mins),Price,Facility,Theme,Subscription Type,Service Name,Service Type,Customer Email,Customer Phone
0,279d92c6-ce26-47c0-8915-e45b77fe20e2,00901ce3-3d86-4c97-bca2-40ccac2fb99f,Customer 1,Facility,2025-05-30,Pending,NaN,NaN,10:00:00,90.0,42.74,Party Room,NaN,NaN,Party Room,Facility,customer1@example.com,001-730-9034
1,415bfcbe-1a2e-4d4b-809a-4c5b606653b1,b82db986-bd52-4b07-bdd8-aa8cf2016241,Customer 2,Birthday Party,2025-05-29,Pending,NaN,NaN,NaN,NaN,182.06,Party Room,Superhero,NaN,Party Room,Birthday Party,customer2@example.com,001-537-5668
2,2100024b-46fc-47b5-ac1c-047d007a4723,6bbb6e83-9577-4f64-80b0-f073132d18f3,Customer 3,Birthday Party,2025-05-09,Confirmed,NaN,NaN,11:00:00,120.0,207.50,Play Area,NaN,NaN,Play Area,Facility,customer3@example.com,001-880-7769
3,74936def-088f-4d34-bad1-dfa76f78b704,f16f5beb-6a7d-4493-a19e-a30dbbd206e9,Customer 4,Birthday Party,2025-06-07,Pending,NaN,NaN,12:00:00,90.0,203.20,Play Area,NaN,NaN,Play Area,Birthday Party,customer4@example.com,001-491-3107
4,6272b4e7-a508-4ed7-bae0-21f7293287a8,eb297435-93d1-4e65-8dd4-6450922305cb,Customer 5,Class,2025-04-13,Pending,Art,NaN,15:00:00,120.0,161.14,NaN,NaN,NaN,Art,Class,customer5@example.com,001-718-3794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,b45c041f-6199-4a53-8841-1afd696d8c2d,ea4a4b7e-aad1-4ac5-9cb3-3a7c10a38819,Customer 996,Birthday Party,2025-05-04,Confirmed,NaN,NaN,NaN,NaN,104.83,Party Room,Princess,NaN,Party Room,Birthday Party,customer996@example.com,001-522-8955
996,633d1590-d9b2-4263-9b29-8589333c7a0a,10cd8264-a18b-4ee4-a035-27058df83238,Customer 997,Class,2025-05-02,Confirmed,Art,James Howard,NaN,NaN,119.02,NaN,NaN,NaN,Art,Class,customer997@example.com,NaN
997,c552c1b5-bb2e-46a5-b5c9-43101cf39133,623b4030-64c5-46ae-935f-fd9c3beea824,Customer 998,Facility,2025-04-04,Confirmed,NaN,NaN,17:00:00,120.0,172.84,Party Room,NaN,NaN,Party Room,Facility,customer998@example.com,001-391-4565
998,09fb0473-56cc-4624-9c5a-e9cd152acc41,e483e86a-cc2c-4a49-86ef-b7a0c1b6fd7b,Customer 999,Facility,2025-05-11,Pending,NaN,NaN,12:00:00,120.0,275.18,Party Room,NaN,NaN,Party Room,Facility,customer999@example.com,001-668-6307
999,552b1c51-61e3-4005-a57c-ff953a2c87b7,d8dd6a12-b1a6-4aa9-8b6b-40059cf5ac45,Customer 1000,Facility,2025-05-05,Confirmed,NaN,NaN,16:00:00,120.0,130.08,Play Area,NaN,NaN,Play Area,Facility,customer1000@example.com,001-226-7265

In [35]:
dataset.head()   # print first 5 record

,Booking ID,Customer ID,Customer Name,Booking Type,Booking Date,Status,Class Type,Instructor,Time Slot,Duration (mins),Price,Facility,Theme,Subscription Type,Service Name,Service Type,Customer Email,Customer Phone
0,279d92c6-ce26-47c0-8915-e45b77fe20e2,00901ce3-3d86-4c97-bca2-40ccac2fb99f,Customer 1,Facility,2025-05-30,Pending,NaN,NaN,10:00:00,90.0,42.74,Party Room,NaN,NaN,Party Room,Facility,customer1@example.com,001-730-9034
1,415bfcbe-1a2e-4d4b-809a-4c5b606653b1,b82db986-bd52-4b07-bdd8-aa8cf2016241,Customer 2,Birthday Party,2025-05-29,Pending,NaN,NaN,NaN,NaN,182.06,Party Room,Superhero,NaN,Party Room,Birthday Party,customer2@example.com,001-537-5668
2,2100024b-46fc-47b5-ac1c-047d007a4723,6bbb6e83-9577-4f64-80b0-f073132d18f3,Customer 3,Birthday Party,2025-05-09,Confirmed,NaN,NaN,11:00:00,120.0,207.50,Play Area,NaN,NaN,Play Area,Facility,customer3@example.com,001-880-7769
3,74936def-088f-4d34-bad1-dfa76f78b704,f16f5beb-6a7d-4493-a19e-a30dbbd206e9,Customer 4,Birthday Party,2025-06-07,Pending,NaN,NaN,12:00:00,90.0,203.20,Play Area,NaN,NaN,Play Area,Birthday Party,customer4@example.com,001-491-3107
4,6272b4e7-a508-4ed7-bae0-21f7293287a8,eb297435-93d1-4e65-8dd4-6450922305cb,Customer 5,Class,2025-04-13,Pending,Art,NaN,15:00:00,120.0,161.14,NaN,NaN,NaN,Art,Class,customer5@example.com,001-718-3794

## Info About Dataset

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Booking ID         1000 non-null   object
 1   Customer ID        1000 non-null   object
 2   Customer Name      1000 non-null   object
 3   Booking Type       1000 non-null   object
 4   Booking Date       1000 non-null   datetime64[ns]
 5   Status             1000 non-null   object
 6   Class Type         328 non-null    object
 7   Instructor         270 non-null    object
 8   Time Slot          795 non-null    object
 9   Duration (mins)    795 non-null    float64
 10  Price              1000 non-null   float64
 11  Facility           672 non-null    object
 12  Theme              273 non-null    object
 13  Subscription Type  0 non-null      float64
 14  Service Name       1000 non-null   object
 15  Service Type       1000 non-null   object
 16  Customer Email     906 non-null    object
 17  Customer Phone     895 non-null    object
dtypes: datetime64[ns](1), float64(3), object(14)
memory usage: 140.8+ KB

In [32]:
dataset.isnull().sum()

Booking ID              0
Customer ID             0
Customer Name           0
Booking Type            0
Booking Date            0
Status                  0
Class Type            672
Instructor            730
Time Slot             205
Duration (mins)       205
Price                   0
Facility              328
Theme                 727
Subscription Type    1000
Service Name            0
Service Type            0
Customer Email         94
Customer Phone        105
dtype: int64

## Cleaned Class Type Column

In [48]:
dataset["Class Type"].fillna('Not Specified',inplace=True)

In [50]:
dataset["Class Type"]

0      Not Specified
1      Not Specified
2      Not Specified
3      Not Specified
4                Art
           ...
995    Not Specified
996              Art
997    Not Specified
998    Not Specified
999    Not Specified
Name: Class Type, Length: 1000, dtype: object

## Cleaned Instructor Column

In [52]:
dataset["Instructor"].fillna('Not Assigned',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\1364640767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Instructor"].fillna('Not Assigned',inplace=True)

In [54]:
dataset["Instructor"]

0      Not Assigned
1      Not Assigned
2      Not Assigned
3      Not Assigned
4      Not Assigned
           ...
995    Not Assigned
996    James Howard
997    Not Assigned
998    Not Assigned
999    Not Assigned
Name: Instructor, Length: 1000, dtype: object

## Cleaned Time slot column

In [56]:
dataset["Time Slot"].fillna("Unknown",inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\3860261422.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Time Slot"].fillna("Unknown",inplace=True)

In [58]:
dataset["Time Slot"]

0      10:00:00
1       Unknown
2      11:00:00
3      12:00:00
4      15:00:00
         ...
995     Unknown
996     Unknown
997    17:00:00
998    12:00:00
999    16:00:00
Name: Time Slot, Length: 1000, dtype: object

In [ ]:
dataset["hgdk"].fillna("ertrt",inplace=True)

In [60]:
dataset["Duration (mins)"].fillna(dataset["Duration (mins)"].median(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\1544397042.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Duration (mins)"].fillna(dataset["Duration (mins)"].median(),inplace=True)

In [62]:
dataset["Duration (mins)"]

0       90.0
1       90.0
2      120.0
3       90.0
4      120.0
       ...
995     90.0
996     90.0
997    120.0
998    120.0
999    120.0
Name: Duration (mins), Length: 1000, dtype: float64

In [64]:
dataset["Facility"].fillna("No Facility", inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\588177268.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Facility"].fillna("No Facility", inplace=True)

In [66]:
dataset["Facility"]

0       Party Room
1       Party Room
2        Play Area
3        Play Area
4      No Facility
          ...
995     Party Room
996    No Facility
997     Party Room
998     Party Room
999      Play Area
Name: Facility, Length: 1000, dtype: object

In [ ]:
dataset["Theme"].fillna("No Theme",inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\1548284568.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Theme"].fillna("No Theme",inplace=True)

In [70]:
dataset["Theme"]

0       No Theme
1      Superhero
2       No Theme
3       No Theme
4       No Theme
         ...
995     Princess
996     No Theme
997     No Theme
998     No Theme
999     No Theme
Name: Theme, Length: 1000, dtype: object

In [76]:
dataset['Subscription Type'].fillna('No Subscription', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\338981051.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Subscription Type'].fillna('No Subscription', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\338981051.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'No Subscription' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset['Subscription Type'].fillna('No Subscription', inplace=True)

In [80]:
dataset["Subscription Type"]

0      No Subscription
1      No Subscription
2      No Subscription
3      No Subscription
4      No Subscription
            ...
995    No Subscription
996    No Subscription
997    No Subscription
998    No Subscription
999    No Subscription
Name: Subscription Type, Length: 1000, dtype: object

In [82]:
dataset["Customer Email"].fillna('unknown@example.com',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\2585431134.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Customer Email"].fillna('unknown@example.com',inplace=True)

In [84]:
dataset["Customer Phone"].fillna('000-000-0000',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4852\3518115262.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Customer Phone"].fillna('000-000-0000',inplace=True)

In [88]:
duplicate_count = dataset.duplicated().sum()
print(f"Total duplicate rows:{duplicate_count}")

Total duplicate rows:0

In [92]:
dataset.drop_duplicates(subset=["Booking ID"],keep="first",inplace=True)

In [94]:
dataset

,Booking ID,Customer ID,Customer Name,Booking Type,Booking Date,Status,Class Type,Instructor,Time Slot,Duration (mins),Price,Facility,Theme,Subscription Type,Service Name,Service Type,Customer Email,Customer Phone
0,279d92c6-ce26-47c0-8915-e45b77fe20e2,00901ce3-3d86-4c97-bca2-40ccac2fb99f,Customer 1,Facility,2025-05-30,Pending,Not Specified,Not Assigned,10:00:00,90.0,42.74,Party Room,No Theme,No Subscription,Party Room,Facility,customer1@example.com,001-730-9034
1,415bfcbe-1a2e-4d4b-809a-4c5b606653b1,b82db986-bd52-4b07-bdd8-aa8cf2016241,Customer 2,Birthday Party,2025-05-29,Pending,Not Specified,Not Assigned,Unknown,90.0,182.06,Party Room,Superhero,No Subscription,Party Room,Birthday Party,customer2@example.com,001-537-5668
2,2100024b-46fc-47b5-ac1c-047d007a4723,6bbb6e83-9577-4f64-80b0-f073132d18f3,Customer 3,Birthday Party,2025-05-09,Confirmed,Not Specified,Not Assigned,11:00:00,120.0,207.50,Play Area,No Theme,No Subscription,Play Area,Facility,customer3@example.com,001-880-7769
3,74936def-088f-4d34-bad1-dfa76f78b704,f16f5beb-6a7d-4493-a19e-a30dbbd206e9,Customer 4,Birthday Party,2025-06-07,Pending,Not Specified,Not Assigned,12:00:00,90.0,203.20,Play Area,No Theme,No Subscription,Play Area,Birthday Party,customer4@example.com,001-491-3107
4,6272b4e7-a508-4ed7-bae0-21f7293287a8,eb297435-93d1-4e65-8dd4-6450922305cb,Customer 5,Class,2025-04-13,Pending,Art,Not Assigned,15:00:00,120.0,161.14,No Facility,No Theme,No Subscription,Art,Class,customer5@example.com,001-718-3794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,b45c041f-6199-4a53-8841-1afd696d8c2d,ea4a4b7e-aad1-4ac5-9cb3-3a7c10a38819,Customer 996,Birthday Party,2025-05-04,Confirmed,Not Specified,Not Assigned,Unknown,90.0,104.83,Party Room,Princess,No Subscription,Party Room,Birthday Party,customer996@example.com,001-522-8955
996,633d1590-d9b2-4263-9b29-8589333c7a0a,10cd8264-a18b-4ee4-a035-27058df83238,Customer 997,Class,2025-05-02,Confirmed,Art,James Howard,Unknown,90.0,119.02,No Facility,No Theme,No Subscription,Art,Class,customer997@example.com,000-000-0000
997,c552c1b5-bb2e-46a5-b5c9-43101cf39133,623b4030-64c5-46ae-935f-fd9c3beea824,Customer 998,Facility,2025-04-04,Confirmed,Not Specified,Not Assigned,17:00:00,120.0,172.84,Party Room,No Theme,No Subscription,Party Room,Facility,customer998@example.com,001-391-4565
998,09fb0473-56cc-4624-9c5a-e9cd152acc41,e483e86a-cc2c-4a49-86ef-b7a0c1b6fd7b,Customer 999,Facility,2025-05-11,Pending,Not Specified,Not Assigned,12:00:00,120.0,275.18,Party Room,No Theme,No Subscription,Party Room,Facility,customer999@example.com,001-668-6307
999,552b1c51-61e3-4005-a57c-ff953a2c87b7,d8dd6a12-b1a6-4aa9-8b6b-40059cf5ac45,Customer 1000,Facility,2025-05-05,Confirmed,Not Specified,Not Assigned,16:00:00,120.0,130.08,Play Area,No Theme,No Subscription,Play Area,Facility,customer1000@example.com,001-226-7265

In [102]:
dataset['Booking Date'] = pd.to_datetime(dataset['Booking Date'])

In [104]:
dataset

,Booking ID,Customer ID,Customer Name,Booking Type,Booking Date,Status,Class Type,Instructor,Time Slot,Duration (mins),Price,Facility,Theme,Subscription Type,Service Name,Service Type,Customer Email,Customer Phone
0,279d92c6-ce26-47c0-8915-e45b77fe20e2,00901ce3-3d86-4c97-bca2-40ccac2fb99f,Customer 1,Facility,2025-05-30,Pending,Not Specified,Not Assigned,10:00:00,90.0,42.74,Party Room,No Theme,No Subscription,Party Room,Facility,customer1@example.com,001-730-9034
1,415bfcbe-1a2e-4d4b-809a-4c5b606653b1,b82db986-bd52-4b07-bdd8-aa8cf2016241,Customer 2,Birthday Party,2025-05-29,Pending,Not Specified,Not Assigned,Unknown,90.0,182.06,Party Room,Superhero,No Subscription,Party Room,Birthday Party,customer2@example.com,001-537-5668
2,2100024b-46fc-47b5-ac1c-047d007a4723,6bbb6e83-9577-4f64-80b0-f073132d18f3,Customer 3,Birthday Party,2025-05-09,Confirmed,Not Specified,Not Assigned,11:00:00,120.0,207.50,Play Area,No Theme,No Subscription,Play Area,Facility,customer3@example.com,001-880-7769
3,74936def-088f-4d34-bad1-dfa76f78b704,f16f5beb-6a7d-4493-a19e-a30dbbd206e9,Customer 4,Birthday Party,2025-06-07,Pending,Not Specified,Not Assigned,12:00:00,90.0,203.20,Play Area,No Theme,No Subscription,Play Area,Birthday Party,customer4@example.com,001-491-3107
4,6272b4e7-a508-4ed7-bae0-21f7293287a8,eb297435-93d1-4e65-8dd4-6450922305cb,Customer 5,Class,2025-04-13,Pending,Art,Not Assigned,15:00:00,120.0,161.14,No Facility,No Theme,No Subscription,Art,Class,customer5@example.com,001-718-3794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,b45c041f-6199-4a53-8841-1afd696d8c2d,ea4a4b7e-aad1-4ac5-9cb3-3a7c10a38819,Customer 996,Birthday Party,2025-05-04,Confirmed,Not Specified,Not Assigned,Unknown,90.0,104.83,Party Room,Princess,No Subscription,Party Room,Birthday Party,customer996@example.com,001-522-8955
996,633d1590-d9b2-4263-9b29-8589333c7a0a,10cd8264-a18b-4ee4-a035-27058df83238,Customer 997,Class,2025-05-02,Confirmed,Art,James Howard,Unknown,90.0,119.02,No Facility,No Theme,No Subscription,Art,Class,customer997@example.com,000-000-0000
997,c552c1b5-bb2e-46a5-b5c9-43101cf39133,623b4030-64c5-46ae-935f-fd9c3beea824,Customer 998,Facility,2025-04-04,Confirmed,Not Specified,Not Assigned,17:00:00,120.0,172.84,Party Room,No Theme,No Subscription,Party Room,Facility,customer998@example.com,001-391-4565
998,09fb0473-56cc-4624-9c5a-e9cd152acc41,e483e86a-cc2c-4a49-86ef-b7a0c1b6fd7b,Customer 999,Facility,2025-05-11,Pending,Not Specified,Not Assigned,12:00:00,120.0,275.18,Party Room,No Theme,No Subscription,Party Room,Facility,customer999@example.com,001-668-6307
999,552b1c51-61e3-4005-a57c-ff953a2c87b7,d8dd6a12-b1a6-4aa9-8b6b-40059cf5ac45,Customer 1000,Facility,2025-05-05,Confirmed,Not Specified,Not Assigned,16:00:00,120.0,130.08,Play Area,No Theme,No Subscription,Play Area,Facility,customer1000@example.com,001-226-7265

In [106]:
dataset.to_csv('cleaned_data.csv', index=False)